@model IEnumerable<GenshinCalculator.Models.CharacterRegion>

@{
    ViewData["Title"] = "Index";
}

<h1>Регионы @ViewBag.Character.Name</h1>

<p>
    <a asp-action="Create" asp-route-characterId="@ViewBag.Character.Id" class="btn btn-primary">Добавить регион</a>
    <a asp-controller="Characters" asp-action="Details" asp-route-id="@ViewBag.Character.Id" class="btn btn-secondary">Вернуться к персонажу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Region.Name)
            </td>
            <td>
                <a asp-action="Delete" asp-route-characterId="@item.Character.Id" asp-route-regionId="@item.Region.Id" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
