@model GenshinCalculator.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h1>Подробная информация</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Имя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Полное имя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fullname)
        </dd>
        <dt class = "col-sm-2">
            Аватар
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.AvatarPath" />
        </dd>
        <dt class = "col-sm-2">
            Редкость
        </dt>
        <dd class = "col-sm-10">
            @for (var i = 0; i < @Model.Rarity; i++)
            {
                <img src="~/images/Rarity_Star_Icon.png" class="rarity-star-icon" />
            }
        </dd>
        <dt class = "col-sm-2">
            Описание
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            День рождения
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayOfBirth)
        </dd>
        <dt class = "col-sm-2">
            Элемент
        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/@(Model.Vision.ToString())_Vision_Icon.png" class="vision-icon" title="@Model.Vision.ToString()" />
        </dd>
        <dt class = "col-sm-2">
            Тип оружия
        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/@(Model.WeaponType.ToString())_Type_Icon.png" class="weapon-type-icon" title="@Model.WeaponType.ToString()" />
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Редактировать</a>
    <a asp-controller="CharacterRegions" asp-action="Index" asp-route-characterId="@Model.Id" class="btn btn-info">Регионы</a>
    <a asp-action="Index" class="btn btn-secondary">Вернуться</a>
</div>
