@model IEnumerable<GenshinCalculator.Models.Character>

@{
    ViewData["Title"] = "Index";
}

<h1>Персонажи</h1>

<p>
    <a asp-action="Create">Создать нового персонажа</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Иконка
            </th>
            <th>
                Редкость
            </th>
            <th>
                Элемент
            </th>
            <th>
                Тип оружия
            </th>
            <th>
                Регион
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@item.AvatarPath" class="character-icon" />
            </td>
            <td>
                @for (var i = 0; i < @item.Rarity; i++)
                {
                    <img src="images/Rarity_Star_Icon.png" class="rarity-star-icon" />
                }
            </td>
            <td>
                <img src="images/@(item.Vision.ToString())_Vision_Icon.png" class="vision-icon" title="@item.Vision.ToString()" />
            </td>
            <td>
                <img src="images/@(item.WeaponType.ToString())_Type_Icon.png" class="weapon-type-icon" title="@item.WeaponType.ToString()" />
            </td>
            <td class="region-block">
                <div>
                    @foreach (var region in item.CharacterRegions)
                    {
                        <span>@region.Region.Name</span>
                    }
                </div>
            </td>
            <td class="btn-block">
                <div>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Редактировать</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Подробнее</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
