@model IEnumerable<GenshinCalculator.Models.Character>

@{
    ViewData["Title"] = "Index";
}

<h1>Персонажи</h1>

<p>
    <a asp-action="Create">Создать нового персонажа</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Иконка
            </th>
            <th>
                Редкость
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@item.AvatarPath" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rarity)
            </td>
            <td class="btn-block">
                <div>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Редактировать</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Подробнее</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
